<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-2.2.0.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <title>Oceanic Rangers</title>
    <meta name="description" content="Oceanic Rangers is a massive community with members from accross the world that play games such as Arma 3 milsim, Arma 3 Life,  ">
    <meta name="theme-color" content="#00295c">
    <link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/attachments/820965289951756307/896393897968799774/OceanicRangers_Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="https://replit.com/@WEEZOOKAWeman/eanewwebhook#public/webhook.js"></script>
  </head>
  <header class="main-header">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a href="index.html" class="logo"> <img src="../img/logo.png" alt="logo"> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
          <ul class="nav navbar-nav">
            <li class="button"> <a href="/index.html">
                            Home<span class="button"></span>
                        </a> </li>
            <li class="dropdown"> <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Store<span class="caret"></span>
                        </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu"> <a tabindex="0">Store</a>
                  <ul class="dropdown-menu">
                    <li><a href="/Donations">Donations</a></li>
                    <li><a href="/shop">Store</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="button"> <a href="../public/org.html">
                            Org Chart<span class="button"></span>
                        </a> </li>
            <li class="button"> <a href="../public/social.html">
                            Socials<span class="button"></span>
                        </a> </li>
            <li class="button"> <a href="">
                            ReplaceMe<span class="button"></span>
                        </a> </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- /.container -->
      </nav>
    </div>
  </header>
  <script>
  AOS.init();
</script>

        <!-- /.navbar-collapse -->
        <script>
      document.querySelector('html').classList.remove('no-js');
      if (!window.Cypress) {
        const scrollCounter = document.querySelector('.js-scroll-counter');

        AOS.init({
          mirror: true
        });

        document.addEventListener('aos:in', function(e) {
          console.log('in!', e.detail);
        });

        window.addEventListener('scroll', function() {
          scrollCounter.innerHTML = window.pageYOffset;
        });
      }
    </script>
<div class="image-container">
  <div class="text" style="text-align: center;">
    <div data-aos="fade-up" data-aos-duration="1500">
      <strong>OCEANIC RANGERS</strong>
    </div>
  </div>
</div>
<div class="1-section">
  <h1 style="font-size: 32px; text-align: center;">
    Welcome
  </h1>
  <p>Welcome to the Oceanic Rangers, we are an online gaming community offering a variety of different games and services. We have a highly active community consiting of members of different backgrounds and nationalities such as Australians, New Zealanders, Americans and Malaysians. Some games and services we offer include but is not limited too...
  </p
    ><p style="text-align: center;">Some games and services we offer include but is not limited too...
    <li>Arma 3 Milsim</li>
    <li>Arma 3 Life</li>
    <li>Euro Truck Simulator & American Truck Simulator</li>
    <li>Escape From Tarkov</li>
    <li>War Thunder</li>
    <li>Minecraft</li>
   <h1 style="color: #F2CB02; font-size: 16px; text-align: center;">And More!</h1>
</p>
</div>
      <div class="discord" style="text-align: center;">
        <h2>Our Discord.</h2>
            <iframe src="https://discord.com/widget?id=820965288111505418&theme=dark" width="50%" height="600px" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" style="border-style: solid; border-width: 5px; border-radius: 10px; border-color: #f2cb02;"></iframe>  
      </div>
  <div class="image2">
      <h1 style="font-size: 32px; text-align: center;  opacity: 1 !important;   padding: 50px 0px 50px 0px;">
        <strong>Addressing the past.</strong>
    </h1>
  </div>
  <div class="Image2text">
     <p>Our previous leader LTCOL Su did some aweful things to people inside and outside the community and would like to extend our sincearest appologies to anyone that was affected in any way shape or form. Thankfully he has been forcibly removed from the community after getting arrested and all of the things he'd done had been revealed to us.</p>
  </div>
    <div class="image3">
      <h1 style="font-size: 32px; text-align: center;  opacity: 1 !important;   padding: 50px 0px 50px 0px;">
        <strong>Featured Content Creators.</strong>
    </h1>
  </div>
 <div data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">
    <div class="Image2text">
     <p style="text-align: center;">These people create content on Youtube or Twitch.</p>
      <div class="creators" style="font-size: 20px; padding: 20px; text-align: center;">
        <div class="WEEZOOKA" style="padding: 20px; display: inline-block;">
          <img src="../img/weezooka.png" height="300px" width="300px">
          <br>
          <hr>
          <span>WEEZOOKA&trade;</span>
          <a href="https://network-weezooka.glitch.me" onclick="sendMessage()">
            <button onclick="sendMessage()">More</button>
          </a>
          </div>
          <div class="Fries" style="padding: 20px; text-align: center; display: inline-block;">
            <img src="https://cdn.glitch.com/c5b1565d-22c0-4722-8be5-92e416aa7b9d%2FFries.png" height="300px" width="300px">
            <br>
            <hr>
            <span>Fries&trade;</span>
            <a href="https://www.twitch.tv/fries2154" onclick="sendMessage()">
              <button onclick="sendMessage()">More</button>
            </a>
          </div>
          <div class="Bencr" style="padding: 20px; text-align: center; display: inline-block;">
            <img src="https://cdn.discordapp.com/avatars/337133709478330369/c653d817e685cae0d5c2d54692a510e0.png" height="300px" width="300px">
            <br>
            <hr>
            <span>Bencr&trade;</span>
            <a href="https://www.twitch.tv/bobletben" onclick="sendMessage()">
              <button onclick="sendMessage()">More</button>
            </a>
          </div>
          <br>
      </div>
            <div class="creators" style="font-size: 20px; padding: 20px; text-align: center;">
        <div data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">              
        <div class="TLDR" style="padding: 20px; text-align: center; display: inline-block;">
            <img src="https://cdn.discordapp.com/attachments/634921647983427595/878226005754515516/Logo.jpg" height="300px" width="300px">
            <br>
            <hr>
            <span>The_LoneDark</span>
            <a href="https://www.twitch.tv/the_lonedark" onclick="sendMessage()">
              <button onclick="sendMessage()">More</button>
            </a>
          </div>
          <div class="TomTom20" style="padding: 20px; text-align: center; display: inline-block;">
            <img src="https://i.imgur.com/Y3BZVVr.png" height="300px" width="300px">
            <br>
            <hr>
            <span>TomTom200&trade;</span>
            <a href="https://www.twitch.tv/tomtom20o" onclick="sendMessage()">
              <button onclick="sendMessage()">More</button>
            </a>
          </div>
         </div>
      </div>
  </div>
</div>
  <div class="image4">
      <h1 style="font-size: 32px; text-align: center;  opacity: 1 !important;   padding: 50px 0px 50px 0px;">
        <strong>Partnered Communities.</strong>
    </h1>
  </div>
  <div data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">
    <div class="Image2text">
     <p style="text-align: center;">These communities have partnered with us.</p>
      <div class="creators" style="font-size: 20px; padding: 20px; text-align: center;">
        <div class="WEEZOOKANETWORK" style="padding: 20px; display: inline-block;">
          <img src="https://cdn.glitch.com/c5b1565d-22c0-4722-8be5-92e416aa7b9d%2Fgropu1.jpg" height="300px" width="300px">
          <br>
          <hr>
          <span>WEEZOOKA NETWORK</span>
          <a href="https://network-weezooka.glitch.me">
            <button>More</button>
          </a>
          </div>
      </div>
  </div>
</div>
  <div class="Footer" style="padding-top: 50px;">
    <div class="Content" style="vertical-align: baseline;">
                <div class="fs-com">Oceanic Rangers &copy; 2020-2021</div>
                <a href="https://report.weezookaweman.repl.co">Report<span class="button"></span></a>
                <div class="fs-sa">Site Created by WEEZOOKA.</div>
    </div>
  <br>
</div>
</html>